.customerDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: rgb(162, 218, 255);
  /* height: 1rem; */
}

.customerDetail select {
  height: 2rem;
  font-weight: bold;
  /* margin: 1rem; */
  padding: 0 1rem;
  display: flex;
}

.logo {
  width: 300px;
}

.back {
  width: 10rem;
  height: 2.5rem;
  margin: 0.5rem 2rem;
  background-color: rgb(236, 0, 0);
  color: white;
  font-size: 16px;
  border: 0;
}

.back:hover {
  box-shadow: 0 0 5px #868686;
  transform: translateX(-0.1rem);
  transition: transform 0.5s;
}
